#### Caso 1:
Alicia va a ir a Lisboa durante una semana con su marido y sus 2 hijos. Están buscando un apartamento con habitaciones separadas para los padres y los hijos. No les importa donde alojarse o el precio, simplemente quieren tener una experiencia agradable. Esto significa que solo aceptan lugares con más de 10 críticas con una puntuación mayor de 4. Cuando seleccionemos habitaciones para Alicia, tenemos que asegurarnos de ordenar las habitaciones de mejor a peor puntuación. Para aquellas habitaciones que tienen la misma puntuación, debemos mostrar antes aquellas con más críticas. Debemos darle 3 alternativas.

In [6]:
import pandas as pd

df_airbnb = pd.read_csv("./data/airbnb.csv", sep=',')

filtro_df = df_airbnb[(df_airbnb['reviews'] > 10) & (df_airbnb['overall_satisfaction'] > 4)]

ordenado_df = filtro_df.sort_values(by=['overall_satisfaction', 'reviews'], ascending=[False, False])

Mejor_Alternativa = ordenado_df.head(3)

print("Las tres mejores alternativas para Alicia:")
display(Mejor_Alternativa[['room_id', 'neighborhood', 'room_type', 'reviews', 'overall_satisfaction', 'price']])

Las tres mejores alternativas para Alicia:

,room_id,neighborhood,room_type,reviews,overall_satisfaction,price
120,176153,Misericórdia,Entire home/apt,438,5.0,102.0
931,1085634,Misericórdia,Entire home/apt,379,5.0,52.0
212,299321,Santo António,Entire home/apt,337,5.0,87.0

#### Caso 2
Roberto es un casero que tiene una casa en Airbnb. De vez en cuando nos llama preguntando sobre cuales son las críticas de su alojamiento. Hoy está particularmente enfadado, ya que su hermana Clara ha puesto una casa en Airbnb y Roberto quiere asegurarse de que su casa tiene más críticas que las de Clara. Tenemos que crear un dataframe con las propiedades de ambos. Las id de las casas de Roberto y Clara son 97503 y 90387 respectivamente. Finalmente guardamos este dataframe como excel llamado "roberto.xls

In [15]:
import pandas as pd

df_airbnb = pd.read_csv("./data/airbnb.csv", sep=',')

id_roberto = 97503
id_clara = 90387

Propiedad_Roberto = df_airbnb[df_airbnb['room_id'] == id_roberto]
Propiedad_Clara = df_airbnb[df_airbnb['room_id'] == id_clara]

Criticas_Roberto = Propiedad_Roberto['reviews'].values[0] if not Propiedad_Roberto.empty else 0
Criticas_Clara = Propiedad_Clara['reviews'].values[0] if not Propiedad_Clara.empty else 0

df_roberto_clara = pd.concat([Propiedad_Roberto, Propiedad_Clara])

print('Id Roberto = 97503 y Id Clara = 90387')
display(df_roberto_clara)

if Criticas_Roberto > Criticas_Clara:
    print("Roberto tiene más críticas que Clara.")
elif Criticas_Roberto < Criticas_Clara:
    print("Clara tiene más críticas que Roberto.")
else:
    print("Ambos tienen el mismo número de críticas.")

df_roberto_clara.to_excel("roberto.xlsx", index=False)

Id Roberto = 97503 y Id Clara = 90387

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
48,97503,515924,Private room,Santo António,39,4.0,2,1.0,26.0
41,90387,490050,Private room,Santo António,204,5.0,2,1.0,46.0

Clara tiene más críticas que Roberto.

#### Caso 3
Diana va a Lisboa a pasar 3 noches y quiere conocer a gente nueva. Tiene un presupuesto de 50€ para su alojamiento. Debemos buscarle las 10 propiedades más baratas, dandole preferencia a aquellas que sean habitaciones compartidas (room_type == Shared room), y para aquellas viviendas compartidas debemos elegir aquellas con mejor puntuación.

In [7]:
import pandas as pd

df_airbnb = pd.read_csv("./data/airbnb.csv", sep=',')

Habitaciones_Compartidas_Baratas = df_airbnb[(df_airbnb['room_type'] == 'Shared room') & (df_airbnb['price'] <= 50)]

Habitaciones_Compartidas_Ordenadas = Habitaciones_Compartidas_Baratas.sort_values(by='overall_satisfaction', ascending=False)

Mejores_habitaciones_compartidas = Habitaciones_Compartidas_Ordenadas.head(10)

display(Mejores_habitaciones_compartidas)

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
6459,11427995,32344156,Shared room,Misericórdia,21,5.0,8,1.0,18.0
6527,11523225,58899339,Shared room,Avenidas Novas,4,5.0,9,1.0,23.0
6056,10397682,32344156,Shared room,Misericórdia,15,5.0,8,1.0,13.0
5964,10172929,52218341,Shared room,Areeiro,17,5.0,1,1.0,20.0
11058,17497074,25913998,Shared room,Arroios,7,5.0,1,1.0,18.0
8918,14719962,40574313,Shared room,Avenidas Novas,4,5.0,4,1.0,13.0
7932,13570032,78249982,Shared room,Misericórdia,8,5.0,10,1.0,48.0
9964,16150682,58899339,Shared room,Avenidas Novas,4,5.0,9,1.0,16.0
7313,12826411,6981742,Shared room,Alvalade,12,5.0,1,1.0,22.0
7552,13078189,72524317,Shared room,Ajuda,7,5.0,2,1.0,21.0