# * Explorando el dataframe según lo visto en clase

In [52]:
import pandas as pd

df = pd.read_csv('data/winemag-data-130k-v2.csv', index_col=0)

print('Mostrarme las columnas:')
df.columns

Mostrarme las columnas:

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery'],
      dtype='object')

In [53]:
print('Seleccionar una columna:')
df['country'].head()

Seleccionar una columna:

0       Italy
1    Portugal
2          US
3          US
4          US
Name: country, dtype: object

In [54]:
print('Seleccionar Multiples columnas:')
columns_Select = ['points','province','winery']
df_subset = df[columns_Select]
df_subset.head()

Seleccionar Multiples columnas:

   points           province               winery
0      87  Sicily & Sardinia              Nicosia
1      87              Douro  Quinta dos Avidagos
2      87             Oregon            Rainstorm
3      87           Michigan           St. Julian
4      87             Oregon         Sweet Cheeks

In [55]:
print('Cambiar de nombre a una columna:')
df_rename = df.rename(columns={'taster_twitter_handle':'User_twitter'})
df_rename.head()

Cambiar de nombre a una columna:

,country,description,designation,points,price,province,region_1,region_2,taster_name,User_twitter,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [56]:
condiccion = df['country'] == 'Portugal'
condiccion.head()

0    False
1     True
2    False
3    False
4    False
Name: country, dtype: bool

In [57]:
print('Filtro:')
df_filter = df[condiccion]
df_filter.head(2)

Filtro:

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
79,Portugal,"Grown on the sandy soil of Tejo, the wine is t...",Bridão,86,NaN,Tejo,NaN,NaN,Roger Voss,@vossroger,Adega Cooperativa do Cartaxo 2014 Bridão Touri...,Touriga Nacional,Adega Cooperativa do Cartaxo

In [58]:
print('Permite obtener valores unicos de una columna: ')
df.country.unique()

Permite obtener valores unicos de una columna:

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia'],
      dtype=object)

In [60]:
condicion = (df.country =='Portugal') & (df.points>=90)
df[condicion].head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
151,Portugal,"This bottling shows a rich, wood-aged wine, fu...",Gerações Colheita Seleccionada Branco,91,30.0,Alentejano,NaN,NaN,Roger Voss,@vossroger,Herdade Grande 2014 Gerações Colheita Seleccio...,Portuguese White,Herdade Grande
157,Portugal,"From an estate in the south of the Alentejo, t...",Grande Reserva Tinto,91,26.0,Alentejano,NaN,NaN,Roger Voss,@vossroger,Casa Santa Vitória 2013 Grande Reserva Tinto R...,Portuguese Red,Casa Santa Vitória

#### Realice al menos 4 renombre de columna y 3 creación de nuevas columnas según criterio. Deberá crear las columnas que crea conveniente.

In [65]:
df.rename(columns={'points': 'puntos', 'price': 'precio', 'variety': 'variedad', 'province': 'provincia'}, inplace=True)

df['calidad_precio'] = df['puntos'] / df['precio']

def categorizar_precio(precio):
    if precio < 20:
        return 'bajo'
    elif precio >= 20 and precio < 50:
        return 'medio'
    else:
        return 'alto'

df['categoria_precio'] = df['precio'].apply(categorizar_precio)

df['longitud_variedad'] = df['variedad'].apply(lambda x: len(str(x)))

display(df.head(2))

,country,description,designation,puntos,precio,provincia,region_1,region_2,taster_name,taster_twitter_handle,title,variedad,winery,calidad_precio,categoria_precio,longitud_variedad
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,NaN,alto,11
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,5.8,bajo,14

#### Genere 4 reportes por agrupamiento de datos. Deberá elegir que reportes realizar

In [67]:
# Promedio de puntuación por país
reporte1 = df.groupby('country')['puntos'].mean().sort_values(ascending=False)

# Cantidad de vinos por provincia (Top 10)
reporte2 = df.groupby('provincia').size().nlargest(10)

# Promedio de precio de vino y cantidad de reviews obtenidos según país
reporte3 = df.groupby('country').agg({'precio': 'mean', 'description': 'count'}).sort_values(by='precio', ascending=False)

# Variedad de vino más cara por país
reporte4 = df.groupby(['country', 'variedad'])['precio'].mean().reset_index().sort_values(by='precio', ascending=False).groupby('country').first()

# Almacenar el reporte 3 en un archivo CSV
reporte3.to_csv('reporte_promedio_precio_reviews_por_pais.csv')

print("\nReporte 1: Promedio de puntuación por país:")
display(reporte1.head())

print("\nReporte 2: Cantidad de vinos por provincia (Top 10):")
display(reporte2)

print("\nReporte 3: Promedio de precio de vino y cantidad de reviews obtenidos según país:")
display(reporte3.head())

print("\nReporte 4: Variedad de vino más cara por país:")
display(reporte4.head())

Reporte 1: Promedio de puntuación por país:

country
England    91.250000
India      90.750000
Austria    89.992661
Germany    89.808754
Hungary    89.426230
Name: puntos, dtype: float64

Reporte 2: Cantidad de vinos por provincia (Top 10):

provincia
California          18122
Washington           4308
Bordeaux             3014
Tuscany              2985
Oregon               2691
Burgundy             2055
Northern Spain       1936
Piedmont             1847
Mendoza Province     1635
Veneto               1449
dtype: int64

Reporte 3: Promedio de precio de vino y cantidad de reviews obtenidos según país:

                precio  description
country
Switzerland  97.000000            4
England      51.636364           36
Hungary      50.819672           61
France       41.577949        11174
Germany      40.592233         1051

Reporte 4: Variedad de vino más cara por país:

                                variedad  precio
country
Argentina                Malbec-Cabernet   147.5
Armenia                          Kangoun    14.0
Australia                     Muscadelle   210.0
Austria                 Rosenmuskateller   150.0
Bosnia and Herzegovina            Vranec    13.0